/*RALENTIR LE SCROLL*/
html{
    scroll-behavior: smooth;
}

h1{
    text-align: center;
}


img{
    height: 300px;

}



h3{
    color: rgb(0, 255, 4);
}

.hobby{

}

.hobby img{
    height: 200px;
    weight: 100px;

}

.apropos{
    font-size: 30px;
    
}

.deuxsections{
    display: flex;
   
}

.deuxsections  h2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: red;
    text-decoration :underline;
    text-align: center;

}

.gauche{
    display: block;
    width: 400px;
    height: auto;
    margin-right: 2em;
    background-color: #3E4277 ;
    border: solid black 0.2em;
}

.gauche h2{
    color: #B2B4E7;
}

.photo{
    text-align: center;
    margin: 20px;
}

.photo img{
    border-radius: 100%;
    border: solid 3px;
    
}

.gauche p{
    text-align: center;
   
}



.contact{
    text-align: center;
    line-height: 35px;

}


.compétences{
    display: flex;
    margin-left: 8px;
 
}

.compétences .name{
    display: flex;
    flex-direction: column;
    line-height: 3em;
}

.bar {
    width: 250px;
    height: 20px;
    border: solid;
    border-radius: 50px;

}

.bar-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 2em;
    margin-right: 2em;
}



.bar .progress{
 height: 100%;
 background-color: #3E4277;
 border-radius: 50px;
}


.progress1 {
    width : 85%;
    height: 100%;
    background-color:#B2B4E7;
    border-radius: 50px;
   }

   .progress2 {
    width : 80%;
    height: 100%;
    background-color: #B2B4E7;
    border-radius: 50px;
   }

   .progress3 {
    width : 70%;
    height: 100%;
    background-color: #B2B4E7;
    border-radius: 50px;
   }

   .progress4 {
    width : 65%;
    height: 100%;
    background-color: #B2B4E7;
    border-radius: 50px;
   }

   .Langues{
    display: flex;
    margin-left: 8px;
 
}

.Langues .name {
    display: flex;
    flex-direction: column;
    height: auto;
    
}

.name{
    size: 10px;
}

.Langues .name img{

    height: 60px;
    margin-top: 5px;
    margin-left: 15px;
    line-height: 20px;
}

    .prolang1 {
    width : 100%;
    height: 100%;
    background-color:#B2B4E7;
    border-radius: 50px;
   }

   .prolang2 {
    width : 100%;
    height: 100%;
    background-color:#B2B4E7;
    border-radius: 50px;
   }

   .prolang3 {
    width : 90%;
    height: 100%;
    background-color :#B2B4E7;
    border-radius: 50px;
   }

   .prolang4 {
    width : 35%;
    height: 100%;
    background-color:#B2B4E7;
    border-radius: 50px;
   }
   
   .hobby img{
    display: inline-flex;
    justify-content: space-evenly;
    height: 100px;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 10px;
    padding-bottom: 20px;
   }

.droite{
    line-height: 1.2em;
}

.profile{
   padding-left: 40px;
   padding-right: 60px;
   margin-bottom: 70px;
   
}

.experience{
    margin-bottom: 80px;
    
 }

.accès ul{
    list-style: none;

}

.btn{
    background: yellow;
    color: blue;
    font-size: 3vw;
    cursor: pointer;
    padding: 1em;
    width: 500px;
    margin:50 px auto;
    border-radius: 20px;
    transform: scale(0.5); /* valeur intial de la propriété*/
    transition-property: 1s;
}

.btn:hover{
    transform: scale(1.25); /* valeur de la propriété*/
}

.container{
    background-color: rgb(176, 151, 216);
}

form{
    width: 500px;
    margin: auto;
    
}

form input{
    border: 2px solid #fff;
    border-radius: 100em;
    color: blue;
    font-size: 2.5em;
    outline: none;
    padding: 1em;
    width:100%

}
/*
form input:invalid{
    border: 2px solid red;
    background: red;
    color: white;
}*/


/*TRES IMPORTANT
form input:not(:focus):invalid{
    border: 2px solid red ;
    background:red;
    color:white;
}
*/

.balle{
    width: 200px;
    height: 200px;
    background: orange;
    border-radius: 50%;

}
.btn2{
    background: yellow;
    color: blue;
    font-size: 3vw;
    cursor: pointer;
    padding: 1em;
    width: 500px;
    margin:50 px auto;
    border-radius: 20px;
    transform: scale(0.5); /* valeur intial de la propriété*/
    transition-property: 1s;
}


/* Pour qu'un élément influence l'animation d'un autre élément one les lie avec un "+"*/
.btn2:hover + .balle {
    transform: scale(1.25); 
    background-color: beige;
}

.btn3{
    
    color: blue;
    font-size: 30px;
    cursor: pointer;
    padding: 1em;
    width: 500px;
    margin:50 px auto;
    border-radius: 20px;
    transform: scale(0.5); /* valeur intial de la propriété*/
    transition-property: 1s;
}

.progres{
    width: 500px;
    height: 30px;
    border: 3px solid #B2B4E7;
    margin: auto;
    padding: 2px;
}

.barre-progres{
    background: chartreuse;
    height: 30px;
    transform: scaleX(0); /*scaleX() changer pour voir*/
    transform-origin: 0 50%;
    
}


.btn3:active + .progres > .barre-progres{
      /* en appuyant sur btn3  progres et barre-progres vont s'activer*/
    transform: scaleX(1);   
  
    /*durée de l'action (ici barre de chargement)*/
    transition: 2s cubic-bezier(.72, .13,.5,.77) 
    
}